<form class="ui stacked segment form" action="/dashboard/addplaylist" method="POST">
  <div class="field">
    <label>Title</label>
    <input placeholder="Title" type="text" name="title" autofocus required>
    
  </div>
   <label>Rating</label>
   <input type="number" name="rating" min="1" max="5" autofocus required>
  </div>
  
 <button class="ui blue submit button">Add Playlist</button>
</form>
