{{> menu}}

{{#with singlePlaylist}}

  <section class="ui center aligned middle aligned scrolling segment">

    <h3 class="ui header">
    {{uppercase title}}
</h3>


    {{> listsongs}}

  </section>

  <section class="ui center aligned middle aligned segment">

    {{> addsong}}

  </section>

{{/with}}
